@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    margin: 0;
    background: #070a0e;
    -webkit-font-smoothing: antialiased;
  }
}
